* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', monospace;
    text-align: center;
    box-sizing: border-box;
}

@font-face {
    font-family: kemio;
    src: url("Kemio-ExtraExpanded.otf") format("opentype");
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(83, 92, 161, 0.2);
    backdrop-filter: blur(10px);
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;
    position: relative;
}

nav ul li a {
    height: 100%;
    text-decoration: none;
    display: flex;
    color: rgba(35, 56, 191);
    padding: 7px 30px;
    border: 2px solid transparent;
    border-color: rgba(35, 56, 191);
    border-radius: 20px;
    margin-right: 3px;
    margin-left: 3px;
}

nav ul li a:hover {
    transition: 0.2s;
    background-color: rgb(156, 176, 239);
}

.logo a {
    color: aliceblue;
    font-family: kemio;
    font-size: 50px;
    text-decoration: none;
    align-items: center;
    display: flex;
    margin: 0;
}

.nav li {
    height: 50px;
    list-style: none;
}

.nav ul {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*cart*/

.cartsidebar {
    position: fixed;
    z-index: 2000;
    overflow-y: auto;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    background-color: #f0f8ff;
    box-shadow: rgba(35, 56, 191, 0.4) 0px 18px 50px -10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    border-radius: 23.5px;
}

.cartsidebar li{
    width: 100%;
}

.cartsidebar a {
    border-radius: 25px;
}

.cartsidebar p{
    color: rgba(35, 56, 191);
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.continue a{
    text-decoration: none;
    color: rgba(35, 56, 191);
    display: flex;
    padding: 5px;
    border-radius: 30px;
    border-color: rgba(35, 56, 191);
    margin: 10px;
    justify-content: center;
    flex-direction: column;
}

.continue a:hover{
    transition: 0.3s;
    background-color: rgba(35, 56, 191);
    color: aliceblue;
}


/*bar and scroll*/

.bar{
    z-index: 1;
    padding: 10px;
    border: 2px solid transparent;
    border-color: rgba(35, 56, 191);
    background-color: rgba(83, 92, 161, 0.2);
    backdrop-filter: blur(3px);
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
}

.scroll {
    white-space: nowrap;
    display: inline-block;
    animation: slide 10s infinite linear;
    color: rgba(35, 56, 191);;
}

.scrolltext {
    display: inline-block;
}


@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-80%);
    }
}

/*header images*/

#index_title{
    background-image: url(heroimage.jpg);
    min-height: 100vh;
    background-attachment: fixed;
}

#shop_title{
    background-image: url(heroimage.jpg);
    background-attachment: fixed;
    min-height: 70vh;
}

/*colapse sidebar*/

.sidebar {
    position: fixed;
    top: 102px;
    right: 0;
    width: 100%;
    z-index: 1500;
    display: none;
    flex-direction: column;
    padding-bottom: 50vh;
    background-color: aliceblue;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    border-radius: 0;
    font-size: 26px;
    font-weight: bold;
    border-style: none none solid;
    border-color: #2338bf;
    padding: 30px;
}

.exitbutton a {
    border-radius: 25px;
    border-style: solid;
    padding: 10px 15px;
    align-items: center;
    width: 50px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-button{
    display: none;
}

.quote {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*section headers and containers*/

.quote h4{
    font-size: 60vh;
    align-items: center;
}

.quote h2{
    color: aliceblue;
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 20px;
}


.container {
    margin: 0;
    background-color: aliceblue;
    height: 43vh;
}

#sewingimg {
    background-color: #bbc5f3;
}

.titlecontainer {
    justify-content: space-evenly;
    display: flex;
    height: 90vh;
    margin: 0 auto;
}

.titlecontainer a{
    text-decoration: none;
    display: flex;
    color: rgba(35, 56, 191);
    font-size: 26px;
    margin-right: 3px;
    margin-left: 3px;
}

.headercontainer {
    border-bottom: #2338bf;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
}

h4 {
    font-family: kemio;
    color: rgba(35, 56, 191);
}

h2 {
    font-family: kemio;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 40%;
}

.cell h2{
    font-size: 70px;
    color: rgb(219, 232, 242);
}

.cell p{
    text-align: left;
}

.cell img{
    width: 100%;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .logo{
        justify-content: flex-start;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    .cartsidebar{
        width: 100%
    }
}

body{
    width: 100%;
    background-color: aliceblue;
}

/*shop page*/

.main_container{
    display: grid;
    padding: 90px;
    grid-template-columns: auto auto auto;
    gap: 110px;
    border-radius: 10px;
    border: 3px solid transparent;
    border-color: #2338bf;
}

.product{
    border-radius: 20px;
}

.product img{
    width: 100%;
    border-radius: 20px;
    transition: opacity 0.1s ease-in-out;
}

#bluepants:hover img {
    content: url("Denim_Pants_Back.jpg");
    opacity: 0.9;
}

#brownpants:hover img {
    content: url("Denim_Pants_Brown_Back.jpg");
    opacity: 0.9;
}

#darkbluepants:hover img{
    content: url("Denim_Pants_Dark_Blue_Back.jpg");
    opacity: 0.9;
}


.product_desc{
    text-align: center;
    padding-bottom: 20px;
}

.product_desc h3{
    font-size: 23px;
    margin: 10px 0;
}

.product a{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    padding: 3px;
    border-radius: 10px;
}

/*product page*/

.product_container {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
}

/*css for footer*/

footer {
    background-color: rgba(35, 56, 191);
    width: 100%;
    padding: 70px 30px 20px;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 50%;
}

.social a i{
    font-size: 1.7em;
    color: rgba(35, 56, 191);
    opacity: 0.9;
}

/*hover effect on icons*/

.social a:hover{
    background-color: rgb(37, 58, 200);
    transition: 0.3s;
}

.social a:hover i{
    color: aliceblue;
    transition: 0.3s;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
}

.footernav ul li a{
    color: aliceblue;
    margin: 10px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.3s;
}

.footernav ul li a:hover{
    opacity: 1;
}

.footerbottom{
    background-color: rgb(37, 58, 200);
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

@media(max-width: 800px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}